* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}
html {
  font-size: 62.5%;
  font-family: "League Spartan", sans-serif;
}
:root {
  --desaturated-dark-cyan: hsl(180, 29%, 50%);
  --light-grayish-cyan1: hsl(180, 52%, 96%);
  --light-grayish-cyan2: hsl(180, 31%, 95%);
  --dark-grayish-cyan: hsl(180, 8%, 52%);
  --very-dark-grayish-cyan: hsl(180, 14%, 20%);
}
body {
  font-size: 1.5rem;
  color: var(--desaturated-dark-cyan);
  min-height: 100vh;
  background-color: var(--light-grayish-cyan1);
}
header {
  display: flex;
  justify-content: center;
  position: relative;
  min-height: 15vh;
  background-image: url(./images/bg-header-mobile.svg);
  background-color: var(--desaturated-dark-cyan);
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center;
}
.filter {
  display: flex;
  align-items: center;
  position: absolute;
  width: 90%;
  padding: 1.5rem;
  border-radius: 0.5rem;
  bottom: 0;
  transform: translateY(50%);
  background-color: white;
  box-shadow: 0 0.1rem 2rem 0 rgba(0, 0, 0, 0.1);
}
.filter__categories {
  flex: 1;
  display: flex;
  gap: 1rem;
  flex-flow: wrap;
}
.filter__btn-clear {
  cursor: pointer;
  background-color: transparent;
  color: var(--dark-grayish-cyan);
  font-weight: 700;
  outline: none;
  border: none;
  padding: 1rem;
  height: fit-content;
}
main {
  display: flex;
  flex-direction: column;
  align-items: center;
  padding-top: 2rem;
  background-color: var(--light-grayish-cyan1);
}
.job {
  position: relative;
  background-color: white;
  box-shadow: 0 0.1rem 2rem 0 rgba(0, 0, 0, 0.1);
  border-radius: 0.5rem;
  margin-top: 4rem;
  padding: 2rem;
  width: 90%;
}
.job__info > * {
  margin: 1.5rem 0;
}
.job__logo {
  position: absolute;
  width: 5rem;
  top: 0;
  transform: translateY(-50%);
}
.job__badges {
  display: flex;
  align-items: center;
}
.job__company {
  margin-right: 1rem;
}
.job__badge {
  color: var(--light-grayish-cyan1);
  padding: 0.5rem;
  border-radius: 2rem;
  margin: 0 0.5rem;
  font-size: 1.2rem;
}
.--new {
  background-color: var(--desaturated-dark-cyan);
}
.--featured {
  background-color: var(--very-dark-grayish-cyan);
}
.job__position {
  font-size: 1.8rem;
  color: var(--very-dark-grayish-cyan);
}
.job ul {
  display: flex;
  list-style: none;
}
.job li {
  color: var(--dark-grayish-cyan);
  margin-right: 1rem;
}
.job > hr {
  margin: 1rem 0;
  opacity: 40%;
}
.job__requirements {
  display: flex;
  flex-flow: wrap;
  gap: 1rem;
  margin-bottom: 0;
}
.job__requirement {
  cursor: pointer;
  background-color: var(--light-grayish-cyan1);
  padding: 0.5rem;
  border-radius: 0.2rem;
}
.filter__categories-filter {
  display: flex;
  align-items: center;
  background-color: var(--light-grayish-cyan1);
}
.filter__categories-filter > p {
  margin: 0 1rem;
}
.filter__categories-filter > div {
  cursor: pointer;
  background-color: var(--desaturated-dark-cyan);
  background-image: url(./images/icon-remove.svg);
  background-repeat: no-repeat;
  background-position: center;
  padding: 1.5rem;
  width: 100%;
  border-top-right-radius: 0.5rem;
  border-bottom-right-radius: 0.5rem;
}

/*Hover State*/
.job__position:hover {
  transition: 200ms;
  cursor: pointer;
  color: var(--desaturated-dark-cyan);
}
.job__requirement:hover {
  transition: 200ms;
  color: var(--light-grayish-cyan1);
  background-color: var(--desaturated-dark-cyan);
}
.filter__categories-filter > div:hover {
  transition: 200ms;
  background-color: var(--very-dark-grayish-cyan);
}

/*States*/
.hidden {
  display: none;
}
.isNewAndFeatured {
  border-left: solid 5px var(--desaturated-dark-cyan);
}

/*768px*/
@media screen and (min-width: 48em) {
  .job {
    display: flex;
    align-items: center;
    margin-top: 2rem;
  }
  .job__company {
    font-size: 1.8rem;
  }
  .job__logo {
    position: relative;
    transform: none;
    width: 10rem;
    height: 10rem;
    margin-right: 2rem;
  }
  .job__requirements {
    flex: 1;
    display: flex;
    align-items: center;
    justify-content: flex-end;
  }
  .job > hr {
    display: none;
  }
}

/*1440px*/
@media screen and (min-width: 90em) {
  .job,
  .filter {
    width: 80%;
  }
  .job {
    padding: 2rem 4rem;
  }
}
